@page "/siteselection/{UrlContextID}"

<PageTitle>Site selection </PageTitle>

<center><h3>Select the IIS site to work with in @TheILMAppContext.ILMAppConfig.LogsRootDirectory</h3></center>

<Callout Heading="Select a log file to analyse" Color="CalloutColor.Info" Type="Info">
    <p>
        Please select a subdirectory of @TheILMAppContext.ILMAppConfig.LogsRootDirectory as IIS log files subdirectory to work with by clicking on the associated blue button.
    </p>
</Callout>



<div style="display:flex;flex-direction:row">

    <div style="margin:10px;display:flex;text-align:left;width:50%;flex-direction:column">
        <h3>Existing directories on the site IIS logs root</h3>
        @foreach (string dir in directoriesList)
        {
            <p>@dir</p>
        }
    </div>
    <div style="margin:10px;display:flex;text-align:left;width:50%;flex-direction:column">
        <h3>Available IIS Sites in the config file</h3>
        @foreach (IISSite site in TheILMAppContext.ILMAppConfig.Sites)
        {
            <p>
                @if (!Directory.Exists(Path.Combine(TheILMAppContext.ILMAppConfig.LogsRootDirectory, site.LogSubFolder)))
                {
                    <span style="color:red">@site.LogSubFolder The log subfolder for this site does not exist on the file system.</span>
                }
                else
                {
                    <Button id="@site.LogSubFolder" class="btn btn-primary" Size="ButtonSize.Medium" @onclick="((args) => SiteSelectedButtonClicked(args, site))">@site.LogSubFolder</Button>
                    <label style="align-content:start" for="@site.LogSubFolder">@site.ID <strong>@site.DomainName</strong> @site.LogSubFolder</label>
                }
            </p>
        }
    </div>
</div>

@code {
    [Parameter]
    public string UrlContextID { get; set; } = string.Empty;

    private IISSite selectedSite = new();
    private List<string> directoriesList = [];

    public ILMAppContext TheILMAppContext { get; set; } = new();

    protected override async void OnParametersSet()
    {
        /* don't override existing config if user intends to come back
        *
        *         TheAppConfiguration.IISSiteLogSubFolder = "";
        *         TheAppConfiguration.IISSiteSelected = false;
        *
        */

        TheILMAppContext = ILMAppContextServices.GetILMAppContext(UrlContextID);

        directoriesList = [];

        if (Directory.Exists(TheILMAppContext.ILMAppConfig.LogsRootDirectory))
        {
            directoriesList = Directory.EnumerateDirectories(TheILMAppContext.ILMAppConfig.LogsRootDirectory).ToList<string>();

            directoriesList.Sort();
            for (int index = 0; index < directoriesList.Count(); index++)
            {
                string dir = directoriesList[index].Substring(TheILMAppContext.ILMAppConfig.LogsRootDirectory.Trim().Length);
                directoriesList[index] = $"{dir} IS NOT in the configuration file";
                foreach (IISSite site in TheILMAppContext.ILMAppConfig.Sites)
                {
                    if (dir.Trim().ToLower() == site.LogSubFolder.Trim().ToLower())
                    {
                        directoriesList[index] = $"{dir} IS in the configuration file";
                        break;
                    }
                }
            }
        }
        else
        {
            directoriesList.Add("The IIS logs root directory does not exist.");
        }
    }

    private void SiteSelectedButtonClicked(EventArgs eventArgs, IISSite site)
    {
        TheILMAppContext.IISSiteSelected = true;
        TheILMAppContext.IISSiteLogSubFolderName = site.LogSubFolder;
        TheILMAppContext.IISSiteLogSubFolderPath = Path.Combine(TheILMAppContext.ILMAppConfig.LogsRootDirectory, TheILMAppContext.IISSiteLogSubFolderName).Replace("\\\\", "\\");
        TheILMAppContext.IISSiteID = site.ID;
        TheILMAppContext.IISSiteDomainName = site.DomainName;
        ILMAppContextServices.SetILMAppContext(TheILMAppContext, UrlContextID);
        NavigationManager.NavigateTo($"/managefiles/{UrlContextID}", forceLoad: true);
    }
}
